*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(./Screenshot\ .png);
}
.main{
    display: block;
    position: relative;
    height: 330px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: #fff;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px;
     
}

h2{
    margin-left: 30px;
    padding: 20px 0px;
}

.question-counter{
    padding: 10px 0px;
}

.questions{
    position: relative;
    margin-left: 80px;
}

.questions .btn{
    display: grid;
    margin-top: 10px;
    padding: 5px 0px;
    width: 150px;
    background-color: e2dcdc;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px;
    transition: 0.3s;
    cursor: pointer;
}

.next-button button{
    position: absolute;
    margin-left: 85%;
    top: 85%;
    padding: 5px 5px;
    background-color: #5eddac;
    border-radius: 10px;
    box-shadow: 0 5px #999;
    cursor: pointer;
}

.restart button{
    position: absolute;
    margin-left: 85%;
    top: 85%;
    padding: 5px 5px;
    background-color: #5eddac;
    border-radius: 10px;
    box-shadow: 0 5px #999;
    cursor: pointer;

}
.start-button button{
    position: absolute;
    margin-left: 40%;
    top: 40%;
    padding: 15px 25px;
    background-color: #5eddac;
    border-radius: 10px;
    box-shadow: 0 5px #999;

}
.t-scores{  
    position: relative;
    margin-left: 15%;
    margin-right: auto;
    top: 20%;
    background-color: #f7a584;
    border-radius: 10px;
    box-shadow: 0 5px #999;
}

.t-scores h1{
    color: black;
    padding: 0 20px; 
}

.questions .btn:hover {
    background-color: powderblue;
}

.hide{
    display: none;
}

.next-button button:active{
    background-color: #5eddac;
    box-shadow: 0 5px #fff;
    transform: translateY(4px);
}

@media (max-width:700px){
    body{
        margin-left: 0px;
    }
    
    .main{
        display: block;
        position: relative;
        height: 600px;
        width: 380px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        background-color: #fff;
        border: 3px solid black;
        border-radius: 10px;
        box-shadow: 0 0 10px 2px;
         
    }

    h2{
        margin-top: 40px;
        text-align: center;
    }
    .question-counter{
        padding: 20px 0px;
    }

    .questions{
        margin-top: auto;
        margin-left: 25%;  
    }

    .questions .btn{
        display: grid;
        margin-top: 20px;
        padding: 10px 0px;
        width: 190px;
        background-color: #e2dcdc;
        border-radius: 10px;
        box-shadow: 0 0 10px 2px;
        cursor: pointer;
    }

    .next-button button{
        position: absolute;
        margin-left: 38%;
        margin-right: auto;
        top: 85%;
        padding: 10px 25px;
        background-color: #5eddac;
        border-radius: 10px;
        box-shadow: 0 5px #999;
        cursor: pointer;
    }

    .question{
        margin-left: 0px;
    }

    .start-button button{
        position: absolute;
        margin-left: 35%;
        top: 40%;
        padding: 15px 25px;
        background-color: #5eddac;
        border-radius: 10px;
        box-shadow: 0 0 10px 2px;
    }
}

.t-scores{
    position: absolute;
    margin-left: 20%;
    top: 40%;
    background-color: #f7a584;
    border-radius: 10px;
    box-shadow: 0 5px #999;
}

.questions .btn:hover {
    background-color: #b0e0e6;
}

.start-button button:active{
    background-color: #5eddac;
    box-shadow: 0 5px #fff;
    transform: translateY(4px);
}

.next-button button:active{
    background-color: #5eddac;
    box-shadow: 0 5px #fff;
    transform: translateY(4px);
}

.restart button{
    position: absolute;
    margin-left: 32%;
    top: 70%;
    padding: 10px 25px;
    background-color: #5eddac;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px;
    cursor: pointer;
}

.restart button:active{
    background-color: #5eddac;
    box-shadow: 0 5px #fff;
    transform: translateY(4px);
}